{% extends 'Base/Base.html' %}
{% load static %}

{% block page_content %}

  <!-- ***** Header Area End ***** -->
    <div class="accaount"  style="background-image: url('{% static 'img//cooking_reg_bg.jpg' %}')">

            <form class="accaount__form"  method="post">
                <h2>Register</h2>
                {% csrf_token %}
                {{ form }}
                <button class="submit_btn" type="submit">Register</button>

            </form>

        </div>

{% endblock %}